## This file specifies the files and directories that can usually occur in a
## developer build of this Git repository.
##
## Reference: https://git-scm.com/docs/gitignore
##
## When we say, "files", it actually means files and directories. By
## convention, directories are marked through a trailing first and listed
## first in each category.
##
## We don't list files that may occur in exceptional situations (such as
## temporary files *.h-t), because a developer should notice when such a
## file is not erased by "make mostlyclean".

# Files brought in by gnulib-tool:
/build-aux/config.rpath
/doc/relocatable.texi
/gnulib-m4/00gnulib.m4
/gnulib-m4/absolute-header.m4
/gnulib-m4/alloca.m4
/gnulib-m4/arpa_inet_h.m4
/gnulib-m4/btowc.m4
/gnulib-m4/builtin-expect.m4
/gnulib-m4/close.m4
/gnulib-m4/codeset.m4
/gnulib-m4/configmake.m4
/gnulib-m4/ctype.m4
/gnulib-m4/dirname.m4
/gnulib-m4/double-slash-root.m4
/gnulib-m4/dup2.m4
/gnulib-m4/eealloc.m4
/gnulib-m4/environ.m4
/gnulib-m4/errno_h.m4
/gnulib-m4/error.m4
/gnulib-m4/exponentd.m4
/gnulib-m4/exponentf.m4
/gnulib-m4/exponentl.m4
/gnulib-m4/extensions.m4
/gnulib-m4/extern-inline.m4
/gnulib-m4/fcntl-o.m4
/gnulib-m4/fcntl.m4
/gnulib-m4/fcntl_h.m4
/gnulib-m4/fdopen.m4
/gnulib-m4/flexmember.m4
/gnulib-m4/float_h.m4
/gnulib-m4/fpieee.m4
/gnulib-m4/frexp.m4
/gnulib-m4/frexpl.m4
/gnulib-m4/fseterr.m4
/gnulib-m4/fstat.m4
/gnulib-m4/ftruncate.m4
/gnulib-m4/getcwd.m4
/gnulib-m4/getdtablesize.m4
/gnulib-m4/getpagesize.m4
/gnulib-m4/getprogname.m4
/gnulib-m4/gettimeofday.m4
/gnulib-m4/glibc21.m4
/gnulib-m4/gnulib-common.m4
/gnulib-m4/gnulib-comp.m4
/gnulib-m4/gnulib-tool.m4
/gnulib-m4/hard-locale.m4
/gnulib-m4/host-cpu-c-abi.m4
/gnulib-m4/iconv.m4
/gnulib-m4/iconv_h.m4
/gnulib-m4/iconv_open.m4
/gnulib-m4/include_next.m4
/gnulib-m4/inet_pton.m4
/gnulib-m4/inline.m4
/gnulib-m4/intl-thread-locale.m4
/gnulib-m4/intlmacosx.m4
/gnulib-m4/intmax_t.m4
/gnulib-m4/inttypes-pri.m4
/gnulib-m4/inttypes.m4
/gnulib-m4/inttypes_h.m4
/gnulib-m4/ioctl.m4
/gnulib-m4/isblank.m4
/gnulib-m4/isnand.m4
/gnulib-m4/isnanf.m4
/gnulib-m4/isnanl.m4
/gnulib-m4/iswblank.m4
/gnulib-m4/iswdigit.m4
/gnulib-m4/iswxdigit.m4
/gnulib-m4/langinfo_h.m4
/gnulib-m4/largefile.m4
/gnulib-m4/lcmessage.m4
/gnulib-m4/ldexpl.m4
/gnulib-m4/lib-ld.m4
/gnulib-m4/lib-link.m4
/gnulib-m4/lib-prefix.m4
/gnulib-m4/libunistring-base.m4
/gnulib-m4/limits-h.m4
/gnulib-m4/localcharset.m4
/gnulib-m4/locale-ar.m4
/gnulib-m4/locale-fr.m4
/gnulib-m4/locale-ja.m4
/gnulib-m4/locale-tr.m4
/gnulib-m4/locale-zh.m4
/gnulib-m4/locale_h.m4
/gnulib-m4/localename.m4
/gnulib-m4/localtime-buffer.m4
/gnulib-m4/lock.m4
/gnulib-m4/lstat.m4
/gnulib-m4/malloc.m4
/gnulib-m4/malloca.m4
/gnulib-m4/math_h.m4
/gnulib-m4/mbchar.m4
/gnulib-m4/mbiter.m4
/gnulib-m4/mbrtowc.m4
/gnulib-m4/mbsinit.m4
/gnulib-m4/mbstate_t.m4
/gnulib-m4/mbtowc.m4
/gnulib-m4/memchr.m4
/gnulib-m4/minmax.m4
/gnulib-m4/mmap-anon.m4
/gnulib-m4/mode_t.m4
/gnulib-m4/msvc-inval.m4
/gnulib-m4/msvc-nothrow.m4
/gnulib-m4/multiarch.m4
/gnulib-m4/musl.m4
/gnulib-m4/nanosleep.m4
/gnulib-m4/netinet_in_h.m4
/gnulib-m4/nocrash.m4
/gnulib-m4/off_t.m4
/gnulib-m4/open-cloexec.m4
/gnulib-m4/open-slash.m4
/gnulib-m4/open.m4
/gnulib-m4/pathmax.m4
/gnulib-m4/perror.m4
/gnulib-m4/pipe.m4
/gnulib-m4/printf-frexp.m4
/gnulib-m4/printf-frexpl.m4
/gnulib-m4/printf.m4
/gnulib-m4/pthread-thread.m4
/gnulib-m4/pthread_h.m4
/gnulib-m4/pthread_rwlock_rdlock.m4
/gnulib-m4/pthread_sigmask.m4
/gnulib-m4/putenv.m4
/gnulib-m4/raise.m4
/gnulib-m4/relocatable-lib.m4
/gnulib-m4/sched_h.m4
/gnulib-m4/select.m4
/gnulib-m4/semaphore.m4
/gnulib-m4/setenv.m4
/gnulib-m4/setlocale.m4
/gnulib-m4/setlocale_null.m4
/gnulib-m4/sigaction.m4
/gnulib-m4/signal_h.m4
/gnulib-m4/signalblocking.m4
/gnulib-m4/signbit.m4
/gnulib-m4/size_max.m4
/gnulib-m4/sleep.m4
/gnulib-m4/socketlib.m4
/gnulib-m4/sockets.m4
/gnulib-m4/socklen.m4
/gnulib-m4/sockpfaf.m4
/gnulib-m4/ssize_t.m4
/gnulib-m4/stat-time.m4
/gnulib-m4/stat.m4
/gnulib-m4/stdalign.m4
/gnulib-m4/stdbool.m4
/gnulib-m4/stddef_h.m4
/gnulib-m4/stdint.m4
/gnulib-m4/stdint_h.m4
/gnulib-m4/stdio_h.m4
/gnulib-m4/stdlib_h.m4
/gnulib-m4/strerror.m4
/gnulib-m4/strerror_r.m4
/gnulib-m4/string_h.m4
/gnulib-m4/strncat.m4
/gnulib-m4/strstr.m4
/gnulib-m4/symlink.m4
/gnulib-m4/sys_ioctl_h.m4
/gnulib-m4/sys_select_h.m4
/gnulib-m4/sys_socket_h.m4
/gnulib-m4/sys_stat_h.m4
/gnulib-m4/sys_time_h.m4
/gnulib-m4/sys_types_h.m4
/gnulib-m4/sys_uio_h.m4
/gnulib-m4/thread.m4
/gnulib-m4/threadlib.m4
/gnulib-m4/time_h.m4
/gnulib-m4/unistd_h.m4
/gnulib-m4/usleep.m4
/gnulib-m4/vasnprintf.m4
/gnulib-m4/visibility.m4
/gnulib-m4/warn-on-use.m4
/gnulib-m4/wchar_h.m4
/gnulib-m4/wchar_t.m4
/gnulib-m4/wcrtomb.m4
/gnulib-m4/wctob.m4
/gnulib-m4/wctomb.m4
/gnulib-m4/wctype_h.m4
/gnulib-m4/wcwidth.m4
/gnulib-m4/wint_t.m4
/gnulib-m4/xalloc.m4
/gnulib-m4/xsize.m4
/gnulib-m4/yield.m4
/gnulib-m4/zzgnulib.m4
/lib/Makefile.gnulib
/lib/_Noreturn.h
/lib/alloca.in.h
/lib/amemxfrm.c
/lib/amemxfrm.h
/lib/arg-nonnull.h
/lib/array-mergesort.h
/lib/attribute.h
/lib/c++defs.h
/lib/c-ctype.c
/lib/c-ctype.h
/lib/c-strcase.h
/lib/c-strcasecmp.c
/lib/c-strcaseeq.h
/lib/c-strncasecmp.c
/lib/config.charset
/lib/declared.sh
/lib/errno.in.h
/lib/flexmember.h
/lib/float+.h
/lib/float.c
/lib/float.in.h
/lib/fpucw.h
/lib/frexp.c
/lib/frexpl.c
/lib/fseterr.c
/lib/fseterr.h
/lib/hard-locale.c
/lib/hard-locale.h
/lib/iconv.c
/lib/iconv.in.h
/lib/iconv_close.c
/lib/iconv_open-aix.gperf
/lib/iconv_open-hpux.gperf
/lib/iconv_open-irix.gperf
/lib/iconv_open-osf.gperf
/lib/iconv_open-solaris.gperf
/lib/iconv_open-zos.gperf
/lib/iconv_open.c
/lib/iconveh.h
/lib/inttypes.in.h
/lib/isnan.c
/lib/isnand-nolibm.h
/lib/isnand.c
/lib/isnanf-nolibm.h
/lib/isnanf.c
/lib/isnanl-nolibm.h
/lib/isnanl.c
/lib/iswblank.c
/lib/iswdigit.c
/lib/iswxdigit.c
/lib/itold.c
/lib/langinfo.in.h
/lib/lc-charset-dispatch.c
/lib/lc-charset-dispatch.h
/lib/limits.in.h
/lib/localcharset.c
/lib/localcharset.h
/lib/locale.in.h
/lib/localename-table.c
/lib/localename-table.h
/lib/localename.c
/lib/localename.h
/lib/malloc.c
/lib/malloca.c
/lib/malloca.h
/lib/math.c
/lib/math.in.h
/lib/mbchar.c
/lib/mbchar.h
/lib/mbiter.c
/lib/mbiter.h
/lib/mbrtowc-impl-utf8.h
/lib/mbrtowc-impl.h
/lib/mbrtowc.c
/lib/mbsinit.c
/lib/mbsnlen.c
/lib/mbtowc-lock.c
/lib/mbtowc-lock.h
/lib/memchr.c
/lib/memchr.valgrind
/lib/memcmp2.c
/lib/memcmp2.h
/lib/minmax.h
/lib/printf-args.c
/lib/printf-args.h
/lib/printf-frexp.c
/lib/printf-frexp.h
/lib/printf-frexpl.c
/lib/printf-frexpl.h
/lib/printf-parse.c
/lib/printf-parse.h
/lib/ref-add.sin
/lib/ref-del.sin
/lib/relocatable.c
/lib/relocatable.h
/lib/relocatable.valgrind
/lib/setlocale-lock.c
/lib/setlocale_null.c
/lib/setlocale_null.h
/lib/signbitd.c
/lib/signbitf.c
/lib/signbitl.c
/lib/size_max.h
/lib/stdbool.in.h
/lib/stddef.in.h
/lib/stdint.in.h
/lib/stdio-impl.h
/lib/stdlib.in.h
/lib/str-kmp.h
/lib/str-two-way.h
/lib/streq.h
/lib/striconveh.c
/lib/striconveh.h
/lib/striconveha.c
/lib/striconveha.h
/lib/string.in.h
/lib/strncat.c
/lib/strstr.c
/lib/sys_types.in.h
/lib/unicase.in.h
/lib/uniconv.in.h
/lib/unictype.in.h
/lib/unigbrk.in.h
/lib/unilbrk.in.h
/lib/uniname.in.h
/lib/uninorm.in.h
/lib/unistd.c
/lib/unistd.in.h
/lib/unistdio.in.h
/lib/unistr.in.h
/lib/unitypes.in.h
/lib/uniwbrk.in.h
/lib/uniwidth.in.h
/lib/unused-parameter.h
/lib/vasnprintf.c
/lib/verify.h
/lib/warn-on-use.h
/lib/wchar.in.h
/lib/wctype-h.c
/lib/wctype.in.h
/lib/wcwidth.c
/lib/windows-initguard.h
/lib/windows-mutex.c
/lib/windows-mutex.h
/lib/windows-once.c
/lib/windows-once.h
/lib/windows-recmutex.c
/lib/windows-recmutex.h
/lib/windows-rwlock.c
/lib/windows-rwlock.h
/lib/xalloc-oversized.h
/lib/xsize.c
/lib/xsize.h
/tests/Makefile.gnulib
/tests/_Noreturn.h
/tests/accept.c
/tests/alloca.c
/tests/arg-nonnull.h
/tests/arpa_inet.in.h
/tests/basename-lgpl.c
/tests/binary-io.c
/tests/binary-io.h
/tests/bind.c
/tests/btowc.c
/tests/c++defs.h
/tests/cloexec.c
/tests/cloexec.h
/tests/close.c
/tests/connect.c
/tests/ctype.in.h
/tests/dirname-lgpl.c
/tests/dirname.h
/tests/dup2.c
/tests/error.c
/tests/error.h
/tests/exitfail.c
/tests/exitfail.h
/tests/fcntl.c
/tests/fcntl.in.h
/tests/fd-hook.c
/tests/fd-hook.h
/tests/fdopen.c
/tests/filename.h
/tests/fstat.c
/tests/ftruncate.c
/tests/getcwd-lgpl.c
/tests/getdtablesize.c
/tests/getpagesize.c
/tests/getprogname.c
/tests/getprogname.h
/tests/gettext.h
/tests/gettimeofday.c
/tests/iconvsupport.c
/tests/ignore-value.h
/tests/inet_pton.c
/tests/infinity.h
/tests/init.sh
/tests/intprops.h
/tests/ioctl.c
/tests/isblank.c
/tests/listen.c
/tests/locale.c
/tests/localtime-buffer.c
/tests/localtime-buffer.h
/tests/lstat.c
/tests/macros.h
/tests/mbtowc-impl.h
/tests/mbtowc.c
/tests/minus-zero.h
/tests/msvc-inval.c
/tests/msvc-inval.h
/tests/msvc-nothrow.c
/tests/msvc-nothrow.h
/tests/nan.h
/tests/nanosleep.c
/tests/nap.h
/tests/netinet_in.in.h
/tests/open.c
/tests/pathmax.h
/tests/perror.c
/tests/pipe.c
/tests/pthread-thread.c
/tests/pthread.in.h
/tests/pthread_sigmask.c
/tests/putenv.c
/tests/raise.c
/tests/randomd.c
/tests/randoml.c
/tests/same-inode.h
/tests/sched.in.h
/tests/select.c
/tests/setenv.c
/tests/setlocale.c
/tests/setsockopt.c
/tests/sig-handler.c
/tests/sig-handler.h
/tests/sigaction.c
/tests/signal.in.h
/tests/signature.h
/tests/sigprocmask.c
/tests/sleep.c
/tests/socket.c
/tests/sockets.c
/tests/sockets.h
/tests/stat-time.c
/tests/stat-time.h
/tests/stat-w32.c
/tests/stat-w32.h
/tests/stat.c
/tests/stdalign.in.h
/tests/stdio.in.h
/tests/strerror-override.c
/tests/strerror-override.h
/tests/strerror.c
/tests/strerror_r.c
/tests/stripslash.c
/tests/symlink.c
/tests/sys_ioctl.in.h
/tests/sys_select.in.h
/tests/sys_socket.c
/tests/sys_socket.in.h
/tests/sys_stat.in.h
/tests/sys_time.in.h
/tests/sys_uio.in.h
/tests/test-accept.c
/tests/test-alloca-opt.c
/tests/test-arpa_inet.c
/tests/test-array-mergesort.c
/tests/test-binary-io.c
/tests/test-binary-io.sh
/tests/test-bind.c
/tests/test-btowc.c
/tests/test-btowc1.sh
/tests/test-btowc2.sh
/tests/test-c-ctype.c
/tests/test-c-strcase.sh
/tests/test-c-strcasecmp.c
/tests/test-c-strncasecmp.c
/tests/test-cloexec.c
/tests/test-close.c
/tests/test-connect.c
/tests/test-ctype.c
/tests/test-dup2.c
/tests/test-environ.c
/tests/test-errno.c
/tests/test-fcntl-h.c
/tests/test-fcntl.c
/tests/test-fdopen.c
/tests/test-fgetc.c
/tests/test-float.c
/tests/test-fputc.c
/tests/test-fread.c
/tests/test-frexp.c
/tests/test-frexp.h
/tests/test-frexpl.c
/tests/test-fseterr.c
/tests/test-fstat.c
/tests/test-ftruncate.c
/tests/test-ftruncate.sh
/tests/test-fwrite.c
/tests/test-getcwd-lgpl.c
/tests/test-getdtablesize.c
/tests/test-getprogname.c
/tests/test-gettimeofday.c
/tests/test-hard-locale.c
/tests/test-iconv-h.c
/tests/test-iconv.c
/tests/test-ignore-value.c
/tests/test-inet_pton.c
/tests/test-init.sh
/tests/test-intprops.c
/tests/test-inttypes.c
/tests/test-ioctl.c
/tests/test-isblank.c
/tests/test-isnand-nolibm.c
/tests/test-isnand.h
/tests/test-isnanf-nolibm.c
/tests/test-isnanf.h
/tests/test-isnanl-nolibm.c
/tests/test-isnanl.h
/tests/test-iswblank.c
/tests/test-iswdigit.c
/tests/test-iswdigit.sh
/tests/test-iswxdigit.c
/tests/test-iswxdigit.sh
/tests/test-langinfo.c
/tests/test-limits-h.c
/tests/test-listen.c
/tests/test-localcharset.c
/tests/test-locale.c
/tests/test-localename.c
/tests/test-lock.c
/tests/test-lstat.c
/tests/test-lstat.h
/tests/test-malloca.c
/tests/test-math.c
/tests/test-mbrtowc-w32-1.sh
/tests/test-mbrtowc-w32-2.sh
/tests/test-mbrtowc-w32-3.sh
/tests/test-mbrtowc-w32-4.sh
/tests/test-mbrtowc-w32-5.sh
/tests/test-mbrtowc-w32-6.sh
/tests/test-mbrtowc-w32-7.sh
/tests/test-wcrtomb-w32-6.sh
/tests/test-wcrtomb-w32-7.sh
/tests/test-mbrtowc-w32.c
/tests/test-mbrtowc.c
/tests/test-mbrtowc1.sh
/tests/test-mbrtowc2.sh
/tests/test-mbrtowc3.sh
/tests/test-mbrtowc4.sh
/tests/test-mbrtowc5.sh
/tests/test-mbsinit.c
/tests/test-mbsinit.sh
/tests/test-memchr.c
/tests/test-nanosleep.c
/tests/test-netinet_in.c
/tests/test-once.c
/tests/test-open.c
/tests/test-open.h
/tests/test-pathmax.c
/tests/test-perror.c
/tests/test-perror.sh
/tests/test-perror2.c
/tests/test-pipe.c
/tests/test-printf-frexp.c
/tests/test-printf-frexpl.c
/tests/test-pthread-thread.c
/tests/test-pthread.c
/tests/test-pthread_sigmask1.c
/tests/test-pthread_sigmask2.c
/tests/test-raise.c
/tests/test-rwlock1.c
/tests/test-sched.c
/tests/test-select-fd.c
/tests/test-select-in.sh
/tests/test-select-out.sh
/tests/test-select-stdin.c
/tests/test-select.c
/tests/test-select.h
/tests/test-setenv.c
/tests/test-setlocale1.c
/tests/test-setlocale1.sh
/tests/test-setlocale2.c
/tests/test-setlocale2.sh
/tests/test-setlocale_null-mt-all.c
/tests/test-setlocale_null-mt-one.c
/tests/test-setlocale_null.c
/tests/test-setsockopt.c
/tests/test-sigaction.c
/tests/test-signal-h.c
/tests/test-signbit.c
/tests/test-sigprocmask.c
/tests/test-sleep.c
/tests/test-sockets.c
/tests/test-stat-time.c
/tests/test-stat.c
/tests/test-stat.h
/tests/test-stdalign.c
/tests/test-stdbool.c
/tests/test-stddef.c
/tests/test-stdint.c
/tests/test-stdio.c
/tests/test-stdlib.c
/tests/test-strerror.c
/tests/test-strerror_r.c
/tests/test-striconveh.c
/tests/test-striconveha.c
/tests/test-string.c
/tests/test-strncat.c
/tests/test-strstr.c
/tests/test-symlink.c
/tests/test-symlink.h
/tests/test-sys_ioctl.c
/tests/test-sys_select.c
/tests/test-sys_socket.c
/tests/test-sys_stat.c
/tests/test-sys_time.c
/tests/test-sys_types.c
/tests/test-sys_uio.c
/tests/test-sys_wait.h
/tests/test-thread_create.c
/tests/test-thread_self.c
/tests/test-time.c
/tests/test-unistd.c
/tests/test-unsetenv.c
/tests/test-usleep.c
/tests/test-verify-try.c
/tests/test-verify.c
/tests/test-verify.sh
/tests/test-wchar.c
/tests/test-wcrtomb-w32-1.sh
/tests/test-wcrtomb-w32-2.sh
/tests/test-wcrtomb-w32-3.sh
/tests/test-wcrtomb-w32-4.sh
/tests/test-wcrtomb-w32-5.sh
/tests/test-wcrtomb-w32.c
/tests/test-wcrtomb.c
/tests/test-wcrtomb.sh
/tests/test-wctype-h.c
/tests/test-wcwidth.c
/tests/test-xalloc-die.c
/tests/test-xalloc-die.sh
/tests/time.in.h
/tests/unsetenv.c
/tests/unused-parameter.h
/tests/usleep.c
/tests/w32sock.h
/tests/warn-on-use.h
/tests/wcrtomb.c
/tests/wctob.c
/tests/wctomb-impl.h
/tests/wctomb.c
/tests/windows-thread.c
/tests/windows-thread.h
/tests/windows-tls.c
/tests/windows-tls.h
/tests/xalloc-die.c
/tests/xalloc-oversized.h
/tests/xalloc.h
/tests/xmalloc.c
/tests/zerosize-ptr.h

# Files brought in by "automake --add-missing --copy":
/build-aux/ar-lib
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver

# Other files brought in by autogen.sh:
/build-aux/config.guess
/build-aux/config.sub
/build-aux/run-test
/build-aux/test-driver.diff
/build-aux/texinfo.tex

# Files generated by the autotools:
/aclocal.m4
/configure
/config.h.in
/Makefile.in
/doc/Makefile.in
/gnulib-local/Makefile.in
/lib/Makefile.in
/tests/Makefile.in

# ---------- "make maintainer-clean" gets you here ----------

# Files generated by "make" and distributed
# (i.e. kept by "make distclean")
# (see MAINTAINERCLEANFILES in Makefile.am and, if present, Makefile.gnulib):
# Files generated by "make", using makeinfo, texi2html, perl:
/doc/version.texi
/doc/stamp-vti
/doc/libunistring.info
/doc/libunistring_toc.html
/doc/libunistring_?.html
/doc/libunistring_??.html
/doc/libunistring_abt.html
# Files generated by "make", using gperf:
/lib/iconv_open-aix.h
/lib/iconv_open-hpux.h
/lib/iconv_open-irix.h
/lib/iconv_open-osf.h
/lib/iconv_open-solaris.h
/lib/iconv_open-zos.h
# Files generated by "make".
/lib/libunistring.sym

# ---------- "make distclean" ought to get you here ----------

# ---------- "make distclean" gets you here ----------

# ---------- "make clean" gets you here ----------

# ---------- "make mostlyclean" gets you here ----------

# ---------- "make all check" gets you here ----------

# Patterns for all subdirectories: all kinds of automatic backup files.
*.orig
*.rej
*~
.#*
\#*#
