# Files brought in by gnulib-tool:
/bidi_byname.c
/bidi_byname.gperf
/bidi_longname.c
/bidi_name.c
/bidi_of.c
/bidi_of.h
/bidi_test.c
/bitmap.h
/block_test.c
/blocks.c
/blocks.h
/categ_C.c
/categ_C.h
/categ_Cc.c
/categ_Cc.h
/categ_Cf.c
/categ_Cf.h
/categ_Cn.c
/categ_Cn.h
/categ_Co.c
/categ_Co.h
/categ_Cs.c
/categ_Cs.h
/categ_L.c
/categ_L.h
/categ_LC.c
/categ_LC.h
/categ_Ll.c
/categ_Ll.h
/categ_Lm.c
/categ_Lm.h
/categ_Lo.c
/categ_Lo.h
/categ_Lt.c
/categ_Lt.h
/categ_Lu.c
/categ_Lu.h
/categ_M.c
/categ_M.h
/categ_Mc.c
/categ_Mc.h
/categ_Me.c
/categ_Me.h
/categ_Mn.c
/categ_Mn.h
/categ_N.c
/categ_N.h
/categ_Nd.c
/categ_Nd.h
/categ_Nl.c
/categ_Nl.h
/categ_No.c
/categ_No.h
/categ_P.c
/categ_P.h
/categ_Pc.c
/categ_Pc.h
/categ_Pd.c
/categ_Pd.h
/categ_Pe.c
/categ_Pe.h
/categ_Pf.c
/categ_Pf.h
/categ_Pi.c
/categ_Pi.h
/categ_Po.c
/categ_Po.h
/categ_Ps.c
/categ_Ps.h
/categ_S.c
/categ_S.h
/categ_Sc.c
/categ_Sc.h
/categ_Sk.c
/categ_Sk.h
/categ_Sm.c
/categ_Sm.h
/categ_So.c
/categ_So.h
/categ_Z.c
/categ_Z.h
/categ_Zl.c
/categ_Zl.h
/categ_Zp.c
/categ_Zp.h
/categ_Zs.c
/categ_Zs.h
/categ_and.c
/categ_and_not.c
/categ_byname.c
/categ_byname.gperf
/categ_longname.c
/categ_name.c
/categ_none.c
/categ_of.c
/categ_of.h
/categ_or.c
/categ_test.c
/combiningclass.c
/combiningclass.h
/combiningclass_byname.c
/combiningclass_byname.gperf
/combiningclass_longname.c
/combiningclass_name.c
/ctype_alnum.c
/ctype_alnum.h
/ctype_alpha.c
/ctype_alpha.h
/ctype_blank.c
/ctype_blank.h
/ctype_cntrl.c
/ctype_cntrl.h
/ctype_digit.c
/ctype_digit.h
/ctype_graph.c
/ctype_graph.h
/ctype_lower.c
/ctype_lower.h
/ctype_print.c
/ctype_print.h
/ctype_punct.c
/ctype_punct.h
/ctype_space.c
/ctype_space.h
/ctype_upper.c
/ctype_upper.h
/ctype_xdigit.c
/ctype_xdigit.h
/decdigit.c
/decdigit.h
/digit.c
/digit.h
/identsyntaxmap.h
/joininggroup_byname.c
/joininggroup_byname.gperf
/joininggroup_name.c
/joininggroup_name.h
/joininggroup_of.c
/joininggroup_of.h
/joiningtype_byname.c
/joiningtype_byname.gperf
/joiningtype_longname.c
/joiningtype_name.c
/joiningtype_of.c
/joiningtype_of.h
/mirror.c
/mirror.h
/numeric.c
/numeric.h
/pr_alphabetic.c
/pr_alphabetic.h
/pr_ascii_hex_digit.c
/pr_ascii_hex_digit.h
/pr_bidi_arabic_digit.c
/pr_bidi_arabic_digit.h
/pr_bidi_arabic_right_to_left.c
/pr_bidi_arabic_right_to_left.h
/pr_bidi_block_separator.c
/pr_bidi_block_separator.h
/pr_bidi_boundary_neutral.c
/pr_bidi_boundary_neutral.h
/pr_bidi_common_separator.c
/pr_bidi_common_separator.h
/pr_bidi_control.c
/pr_bidi_control.h
/pr_bidi_embedding_or_override.c
/pr_bidi_embedding_or_override.h
/pr_bidi_eur_num_separator.c
/pr_bidi_eur_num_separator.h
/pr_bidi_eur_num_terminator.c
/pr_bidi_eur_num_terminator.h
/pr_bidi_european_digit.c
/pr_bidi_european_digit.h
/pr_bidi_hebrew_right_to_left.c
/pr_bidi_hebrew_right_to_left.h
/pr_bidi_left_to_right.c
/pr_bidi_left_to_right.h
/pr_bidi_non_spacing_mark.c
/pr_bidi_non_spacing_mark.h
/pr_bidi_other_neutral.c
/pr_bidi_other_neutral.h
/pr_bidi_pdf.c
/pr_bidi_pdf.h
/pr_bidi_segment_separator.c
/pr_bidi_segment_separator.h
/pr_bidi_whitespace.c
/pr_bidi_whitespace.h
/pr_byname.c
/pr_byname.gperf
/pr_case_ignorable.c
/pr_case_ignorable.h
/pr_cased.c
/pr_cased.h
/pr_changes_when_casefolded.c
/pr_changes_when_casefolded.h
/pr_changes_when_casemapped.c
/pr_changes_when_casemapped.h
/pr_changes_when_lowercased.c
/pr_changes_when_lowercased.h
/pr_changes_when_titlecased.c
/pr_changes_when_titlecased.h
/pr_changes_when_uppercased.c
/pr_changes_when_uppercased.h
/pr_combining.c
/pr_combining.h
/pr_composite.c
/pr_composite.h
/pr_currency_symbol.c
/pr_currency_symbol.h
/pr_dash.c
/pr_dash.h
/pr_decimal_digit.c
/pr_decimal_digit.h
/pr_default_ignorable_code_point.c
/pr_default_ignorable_code_point.h
/pr_deprecated.c
/pr_deprecated.h
/pr_diacritic.c
/pr_diacritic.h
/pr_extender.c
/pr_extender.h
/pr_format_control.c
/pr_format_control.h
/pr_grapheme_base.c
/pr_grapheme_base.h
/pr_grapheme_extend.c
/pr_grapheme_extend.h
/pr_grapheme_link.c
/pr_grapheme_link.h
/pr_hex_digit.c
/pr_hex_digit.h
/pr_hyphen.c
/pr_hyphen.h
/pr_id_continue.c
/pr_id_continue.h
/pr_id_start.c
/pr_id_start.h
/pr_ideographic.c
/pr_ideographic.h
/pr_ids_binary_operator.c
/pr_ids_binary_operator.h
/pr_ids_trinary_operator.c
/pr_ids_trinary_operator.h
/pr_ignorable_control.c
/pr_ignorable_control.h
/pr_iso_control.c
/pr_iso_control.h
/pr_join_control.c
/pr_join_control.h
/pr_left_of_pair.c
/pr_left_of_pair.h
/pr_line_separator.c
/pr_line_separator.h
/pr_logical_order_exception.c
/pr_logical_order_exception.h
/pr_lowercase.c
/pr_lowercase.h
/pr_math.c
/pr_math.h
/pr_non_break.c
/pr_non_break.h
/pr_not_a_character.c
/pr_not_a_character.h
/pr_numeric.c
/pr_numeric.h
/pr_other_alphabetic.c
/pr_other_alphabetic.h
/pr_other_default_ignorable_code_point.c
/pr_other_default_ignorable_code_point.h
/pr_other_grapheme_extend.c
/pr_other_grapheme_extend.h
/pr_other_id_continue.c
/pr_other_id_continue.h
/pr_other_id_start.c
/pr_other_id_start.h
/pr_other_lowercase.c
/pr_other_lowercase.h
/pr_other_math.c
/pr_other_math.h
/pr_other_uppercase.c
/pr_other_uppercase.h
/pr_paired_punctuation.c
/pr_paired_punctuation.h
/pr_paragraph_separator.c
/pr_paragraph_separator.h
/pr_pattern_syntax.c
/pr_pattern_syntax.h
/pr_pattern_white_space.c
/pr_pattern_white_space.h
/pr_private_use.c
/pr_private_use.h
/pr_punctuation.c
/pr_punctuation.h
/pr_quotation_mark.c
/pr_quotation_mark.h
/pr_radical.c
/pr_radical.h
/pr_sentence_terminal.c
/pr_sentence_terminal.h
/pr_soft_dotted.c
/pr_soft_dotted.h
/pr_space.c
/pr_space.h
/pr_terminal_punctuation.c
/pr_terminal_punctuation.h
/pr_test.c
/pr_titlecase.c
/pr_titlecase.h
/pr_unassigned_code_value.c
/pr_unassigned_code_value.h
/pr_unified_ideograph.c
/pr_unified_ideograph.h
/pr_uppercase.c
/pr_uppercase.h
/pr_variation_selector.c
/pr_variation_selector.h
/pr_white_space.c
/pr_white_space.h
/pr_xid_continue.c
/pr_xid_continue.h
/pr_xid_start.c
/pr_xid_start.h
/pr_zero_width.c
/pr_zero_width.h
/scripts.c
/scripts.h
/scripts_byname.gperf
/sy_c_ident.c
/sy_c_ident.h
/sy_c_whitespace.c
/sy_java_ident.c
/sy_java_ident.h
/sy_java_whitespace.c

# Files generated by gperf and therefore distributed (i.e. kept by
# "make distclean"):
/bidi_byname.h
/categ_byname.h
/combiningclass_byname.h
/joininggroup_byname.h
/joiningtype_byname.h
/pr_byname.h
/scripts_byname.h
