# Files brought in by gnulib-tool:
/test-chr.h
/test-cmp.h
/test-cmp2.h
/test-cpy-alloc.h
/test-cpy.h
/test-move.h
/test-set.h
/test-stpcpy.h
/test-stpncpy.h
/test-strcat.h
/test-strcmp.h
/test-strcpy.h
/test-strdup.h
/test-strncat.h
/test-strncmp.h
/test-strncpy.h
/test-strnlen.h
/test-u8-check.c
/test-u8-chr.c
/test-u8-cmp.c
/test-u8-cmp2.c
/test-u8-cpy-alloc.c
/test-u8-cpy.c
/test-u8-mblen.c
/test-u8-mbsnlen.c
/test-u8-mbtouc-unsafe.c
/test-u8-mbtouc.c
/test-u8-mbtouc.h
/test-u8-mbtoucr.c
/test-u8-move.c
/test-u8-next.c
/test-u8-prev.c
/test-u8-set.c
/test-u8-stpcpy.c
/test-u8-stpncpy.c
/test-u8-strcat.c
/test-u8-strcmp.c
/test-u8-strcmp.h
/test-u8-strcoll.c
/test-u8-strcpy.c
/test-u8-strdup.c
/test-u8-strlen.c
/test-u8-strmblen.c
/test-u8-strmbtouc.c
/test-u8-strncat.c
/test-u8-strncmp.c
/test-u8-strncpy.c
/test-u8-strnlen.c
/test-u8-to-u16.c
/test-u8-to-u32.c
/test-u8-uctomb.c
/test-u16-check.c
/test-u16-chr.c
/test-u16-cmp.c
/test-u16-cmp2.c
/test-u16-cpy-alloc.c
/test-u16-cpy.c
/test-u16-mblen.c
/test-u16-mbsnlen.c
/test-u16-mbtouc-unsafe.c
/test-u16-mbtouc.c
/test-u16-mbtouc.h
/test-u16-mbtoucr.c
/test-u16-move.c
/test-u16-next.c
/test-u16-prev.c
/test-u16-set.c
/test-u16-stpcpy.c
/test-u16-stpncpy.c
/test-u16-strcat.c
/test-u16-strcmp.c
/test-u16-strcmp.h
/test-u16-strcoll.c
/test-u16-strcpy.c
/test-u16-strdup.c
/test-u16-strlen.c
/test-u16-strmblen.c
/test-u16-strmbtouc.c
/test-u16-strncat.c
/test-u16-strncmp.c
/test-u16-strncpy.c
/test-u16-strnlen.c
/test-u16-to-u32.c
/test-u16-to-u8.c
/test-u16-uctomb.c
/test-u32-check.c
/test-u32-chr.c
/test-u32-cmp.c
/test-u32-cmp2.c
/test-u32-cpy-alloc.c
/test-u32-cpy.c
/test-u32-mblen.c
/test-u32-mbsnlen.c
/test-u32-mbtouc-unsafe.c
/test-u32-mbtouc.c
/test-u32-mbtouc.h
/test-u32-mbtoucr.c
/test-u32-move.c
/test-u32-next.c
/test-u32-prev.c
/test-u32-set.c
/test-u32-stpcpy.c
/test-u32-stpncpy.c
/test-u32-strcat.c
/test-u32-strcmp.c
/test-u32-strcmp.h
/test-u32-strcoll.c
/test-u32-strcpy.c
/test-u32-strdup.c
/test-u32-strlen.c
/test-u32-strmblen.c
/test-u32-strmbtouc.c
/test-u32-strncat.c
/test-u32-strncmp.c
/test-u32-strncpy.c
/test-u32-strnlen.c
/test-u32-to-u16.c
/test-u32-to-u8.c
/test-u32-uctomb.c

