# Files brought in by gnulib-tool:
/Makefile.gnulib
/_Noreturn.h
/accept.c
/alloca.c
/arg-nonnull.h
/arpa_inet.in.h
/basename-lgpl.c
/binary-io.c
/binary-io.h
/bind.c
/btowc.c
/c++defs.h
/cloexec.c
/cloexec.h
/close.c
/connect.c
/ctype.in.h
/dirname-lgpl.c
/dirname.h
/dosname.h
/dup2.c
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fdopen.c
/filename.h
/fstat.c
/ftruncate.c
/getcwd-lgpl.c
/getdtablesize.c
/getpagesize.c
/getprogname.c
/getprogname.h
/gettext.h
/gettimeofday.c
/iconvsupport.c
/ignore-value.h
/inet_pton.c
/infinity.h
/init.sh
/intprops.h
/inttypes.in.h
/ioctl.c
/isblank.c
/listen.c
/locale.c
/localtime-buffer.c
/localtime-buffer.h
/lstat.c
/macros.h
/mbtowc-impl.h
/mbtowc.c
/minus-zero.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/nan.h
/nanosleep.c
/nap.h
/netinet_in.in.h
/open.c
/pathmax.h
/perror.c
/pipe.c
/pthread-thread.c
/pthread.in.h
/pthread_sigmask.c
/putenv.c
/raise.c
/randomd.c
/randoml.c
/same-inode.h
/sched.in.h
/select.c
/setenv.c
/setlocale.c
/setsockopt.c
/sig-handler.c
/sig-handler.h
/sigaction.c
/signal.in.h
/signature.h
/sigprocmask.c
/sleep.c
/socket.c
/sockets.c
/sockets.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdalign.in.h
/stdio.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/strerror_r.c
/stripslash.c
/symlink.c
/sys_ioctl.in.h
/sys_select.in.h
/sys_socket.c
/sys_socket.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_uio.in.h
/test-accept.c
/test-alloca-opt.c
/test-arpa_inet.c
/test-array-mergesort.c
/test-binary-io.c
/test-binary-io.sh
/test-bind.c
/test-btowc.c
/test-btowc1.sh
/test-btowc2.sh
/test-c-ctype.c
/test-c-strcase.sh
/test-c-strcasecmp.c
/test-c-strncasecmp.c
/test-cloexec.c
/test-close.c
/test-connect.c
/test-ctype.c
/test-dup2.c
/test-environ.c
/test-errno.c
/test-fcntl-h.c
/test-fcntl.c
/test-fdopen.c
/test-fgetc.c
/test-float.c
/test-fputc.c
/test-fread.c
/test-frexp.c
/test-frexp.h
/test-frexpl.c
/test-fseterr.c
/test-fstat.c
/test-ftruncate.c
/test-ftruncate.sh
/test-fwrite.c
/test-getcwd-lgpl.c
/test-getdtablesize.c
/test-getprogname.c
/test-gettimeofday.c
/test-hard-locale.c
/test-iconv-h.c
/test-iconv.c
/test-ignore-value.c
/test-inet_pton.c
/test-init.sh
/test-intprops.c
/test-inttypes.c
/test-ioctl.c
/test-isblank.c
/test-isnand-nolibm.c
/test-isnand.h
/test-isnanf-nolibm.c
/test-isnanf.h
/test-isnanl-nolibm.c
/test-isnanl.h
/test-iswblank.c
/test-langinfo.c
/test-limits-h.c
/test-listen.c
/test-localcharset.c
/test-locale.c
/test-localename.c
/test-lock.c
/test-lstat.c
/test-lstat.h
/test-malloca.c
/test-math.c
/test-mbrtowc-w32-1.sh
/test-mbrtowc-w32-2.sh
/test-mbrtowc-w32-3.sh
/test-mbrtowc-w32-4.sh
/test-mbrtowc-w32-5.sh
/test-mbrtowc-w32.c
/test-mbrtowc.c
/test-mbrtowc1.sh
/test-mbrtowc2.sh
/test-mbrtowc3.sh
/test-mbrtowc4.sh
/test-mbrtowc5.sh
/test-mbsinit.c
/test-mbsinit.sh
/test-memchr.c
/test-nanosleep.c
/test-netinet_in.c
/test-once.c
/test-open.c
/test-open.h
/test-pathmax.c
/test-perror.c
/test-perror.sh
/test-perror2.c
/test-pipe.c
/test-printf-frexp.c
/test-printf-frexpl.c
/test-pthread-thread.c
/test-pthread.c
/test-pthread_sigmask1.c
/test-pthread_sigmask2.c
/test-raise.c
/test-rwlock1.c
/test-sched.c
/test-select-fd.c
/test-select-in.sh
/test-select-out.sh
/test-select-stdin.c
/test-select.c
/test-select.h
/test-setenv.c
/test-setlocale1.c
/test-setlocale1.sh
/test-setlocale2.c
/test-setlocale2.sh
/test-setlocale_null-mt-all.c
/test-setlocale_null-mt-one.c
/test-setlocale_null.c
/test-setsockopt.c
/test-sigaction.c
/test-signal-h.c
/test-signbit.c
/test-sigprocmask.c
/test-sleep.c
/test-sockets.c
/test-stat-time.c
/test-stat.c
/test-stat.h
/test-stdalign.c
/test-stdbool.c
/test-stddef.c
/test-stdint.c
/test-stdio.c
/test-stdlib.c
/test-strerror.c
/test-strerror_r.c
/test-striconveh.c
/test-striconveha.c
/test-string.c
/test-strncat.c
/test-strstr.c
/test-symlink.c
/test-symlink.h
/test-sys_ioctl.c
/test-sys_select.c
/test-sys_socket.c
/test-sys_stat.c
/test-sys_time.c
/test-sys_types.c
/test-sys_uio.c
/test-sys_wait.h
/test-thread_create.c
/test-thread_self.c
/test-time.c
/test-unistd.c
/test-unsetenv.c
/test-usleep.c
/test-verify-try.c
/test-verify.c
/test-verify.sh
/test-wchar.c
/test-wcrtomb-w32-1.sh
/test-wcrtomb-w32-2.sh
/test-wcrtomb-w32-3.sh
/test-wcrtomb-w32-4.sh
/test-wcrtomb-w32-5.sh
/test-wcrtomb-w32.c
/test-wcrtomb.c
/test-wcrtomb.sh
/test-wctype-h.c
/test-wcwidth.c
/test-xalloc-die.c
/test-xalloc-die.sh
/time.in.h
/unsetenv.c
/unused-parameter.h
/usleep.c
/w32sock.h
/warn-on-use.h
/wcrtomb.c
/wctob.c
/wctomb-impl.h
/wctomb.c
/windows-thread.c
/windows-thread.h
/windows-tls.c
/windows-tls.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/zerosize-ptr.h

# Files generated by the autotools:
/Makefile.in
