/00gnulib.m4
/alloca.m4
/codeset.m4
/eealloc.m4
/environ.m4
/errno_h.m4
/error.m4
/exitfail.m4
/exponentd.m4
/exponentf.m4
/exponentl.m4
/extensions.m4
/float_h.m4
/fpieee.m4
/frexp.m4
/frexpl.m4
/glibc21.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/iconv.m4
/iconv_h.m4
/iconv_open.m4
/include_next.m4
/inline.m4
/intlmacosx.m4
/intmax_t.m4
/inttypes_h.m4
/isnand.m4
/isnanf.m4
/isnanl.m4
/lcmessage.m4
/ldexpl.m4
/lib-ld.m4
/lib-link.m4
/lib-prefix.m4
/localcharset.m4
/locale-fr.m4
/locale-ja.m4
/locale-tr.m4
/locale-zh.m4
/localename.m4
/longlong.m4
/malloc.m4
/malloca.m4
/math_h.m4
/mbchar.m4
/mbiter.m4
/mbrtowc.m4
/mbsinit.m4
/mbstate_t.m4
/minmax.m4
/multiarch.m4
/nocrash.m4
/printf-frexp.m4
/printf-frexpl.m4
/printf.m4
/setenv.m4
/signbit.m4
/size_max.m4
/stdbool.m4
/stdint.m4
/stdint_h.m4
/stdlib_h.m4
/strerror.m4
/string_h.m4
/unistd_h.m4
/vasnprintf.m4
/wchar.m4
/wchar_t.m4
/wctob.m4
/wctype.m4
/wcwidth.m4
/wint_t.m4
/xalloc.m4
/xsize.m4
