# Files brought in by gnulib-tool:
/u-conv-from-enc.h
/u-conv-to-enc.h
/u-strconv-from-enc.h
/u-strconv-to-enc.h
/u16-conv-from-enc.c
/u16-conv-to-enc.c
/u16-strconv-from-enc.c
/u16-strconv-from-locale.c
/u16-strconv-to-enc.c
/u16-strconv-to-locale.c
/u32-conv-from-enc.c
/u32-conv-to-enc.c
/u32-strconv-from-enc.c
/u32-strconv-from-locale.c
/u32-strconv-to-enc.c
/u32-strconv-to-locale.c
/u8-conv-from-enc.c
/u8-conv-to-enc.c
/u8-strconv-from-enc.c
/u8-strconv-from-locale.c
/u8-strconv-to-enc.c
/u8-strconv-to-locale.c

