# Files brought in by gnulib-tool:
/u-asnprintf.h
/u-asprintf.h
/u-printf-args.c
/u-printf-args.h
/u-printf-parse.h
/u-snprintf.h
/u-sprintf.h
/u-vasprintf.h
/u-vsnprintf.h
/u-vsprintf.h
/u16-asnprintf.c
/u16-asprintf.c
/u16-printf-parse.c
/u16-snprintf.c
/u16-sprintf.c
/u16-u16-asnprintf.c
/u16-u16-asprintf.c
/u16-u16-snprintf.c
/u16-u16-sprintf.c
/u16-u16-vasnprintf.c
/u16-u16-vasprintf.c
/u16-u16-vsnprintf.c
/u16-u16-vsprintf.c
/u16-vasnprintf.c
/u16-vasprintf.c
/u16-vsnprintf.c
/u16-vsprintf.c
/u32-asnprintf.c
/u32-asprintf.c
/u32-printf-parse.c
/u32-snprintf.c
/u32-sprintf.c
/u32-u32-asnprintf.c
/u32-u32-asprintf.c
/u32-u32-snprintf.c
/u32-u32-sprintf.c
/u32-u32-vasnprintf.c
/u32-u32-vasprintf.c
/u32-u32-vsnprintf.c
/u32-u32-vsprintf.c
/u32-vasnprintf.c
/u32-vasprintf.c
/u32-vsnprintf.c
/u32-vsprintf.c
/u8-asnprintf.c
/u8-asprintf.c
/u8-printf-parse.c
/u8-snprintf.c
/u8-sprintf.c
/u8-u8-asnprintf.c
/u8-u8-asprintf.c
/u8-u8-snprintf.c
/u8-u8-sprintf.c
/u8-u8-vasnprintf.c
/u8-u8-vasprintf.c
/u8-u8-vsnprintf.c
/u8-u8-vsprintf.c
/u8-vasnprintf.c
/u8-vasprintf.c
/u8-vsnprintf.c
/u8-vsprintf.c
/ulc-asnprintf.c
/ulc-asprintf.c
/ulc-fprintf.c
/ulc-printf-parse.c
/ulc-snprintf.c
/ulc-sprintf.c
/ulc-vasnprintf.c
/ulc-vasprintf.c
/ulc-vfprintf.c
/ulc-vsnprintf.c
/ulc-vsprintf.c

