# Files brought in by gnulib-tool:
/config.rpath

# Files brought in by "automake --add-missing --copy":
/ar-lib
/compile
/depcomp
/install-sh
/mdate-sh
/missing
/test-driver

# Other files brought in by autogen.sh:
/config.guess
/config.sub
/texinfo.tex

