# Files brought in by gnulib-tool:
/config.rpath
/link-warning.h

# Files brought in by "automake --add-missing --copy":
/compile
/depcomp
/install-sh
/mdate-sh
/missing

# Other files brought in by autogen.sh:
/config.guess
/config.sub
/texinfo.tex

