# Files brought in by gnulib-tool:
/casefold.h
/cased.c
/cased.h
/caseprop.h
/context.h
/empty-prefix-context.c
/empty-suffix-context.c
/ignorable.c
/ignorable.h
/invariant.h
/locale-language.c
/locale-languages.gperf
/simple-mapping.h
/special-casing-table.gperf
/special-casing.c
/special-casing.h
/special-casing.in.h
/tocasefold.c
/tocasefold.h
/tolower.c
/tolower.h
/totitle.c
/totitle.h
/toupper.c
/toupper.h
/u-casecmp.h
/u-casecoll.h
/u-casefold.h
/u-casemap.h
/u-casexfrm.h
/u-ct-casefold.h
/u-ct-totitle.h
/u-is-cased.h
/u-is-invariant.h
/u-prefix-context.h
/u-suffix-context.h
/u-totitle.h
/u16-casecmp.c
/u16-casecoll.c
/u16-casefold.c
/u16-casemap.c
/u16-casexfrm.c
/u16-ct-casefold.c
/u16-ct-tolower.c
/u16-ct-totitle.c
/u16-ct-toupper.c
/u16-is-cased.c
/u16-is-casefolded.c
/u16-is-invariant.c
/u16-is-lowercase.c
/u16-is-titlecase.c
/u16-is-uppercase.c
/u16-prefix-context.c
/u16-suffix-context.c
/u16-tolower.c
/u16-totitle.c
/u16-toupper.c
/u32-casecmp.c
/u32-casecoll.c
/u32-casefold.c
/u32-casemap.c
/u32-casexfrm.c
/u32-ct-casefold.c
/u32-ct-tolower.c
/u32-ct-totitle.c
/u32-ct-toupper.c
/u32-is-cased.c
/u32-is-casefolded.c
/u32-is-invariant.c
/u32-is-lowercase.c
/u32-is-titlecase.c
/u32-is-uppercase.c
/u32-prefix-context.c
/u32-suffix-context.c
/u32-tolower.c
/u32-totitle.c
/u32-toupper.c
/u8-casecmp.c
/u8-casecoll.c
/u8-casefold.c
/u8-casemap.c
/u8-casexfrm.c
/u8-ct-casefold.c
/u8-ct-tolower.c
/u8-ct-totitle.c
/u8-ct-toupper.c
/u8-is-cased.c
/u8-is-casefolded.c
/u8-is-invariant.c
/u8-is-lowercase.c
/u8-is-titlecase.c
/u8-is-uppercase.c
/u8-prefix-context.c
/u8-suffix-context.c
/u8-tolower.c
/u8-totitle.c
/u8-toupper.c
/ulc-casecmp.c
/ulc-casecoll.c
/ulc-casexfrm.c
/unicasemap.h

# Files generated by gperf and therefore distributed (i.e. kept by
# "make distclean"):
/locale-languages.h
/special-casing-table.h
