# Files brought in by gnulib-tool:
/NormalizationTest.txt
/test-canonical-decomposition.c
/test-compat-decomposition.c
/test-composition.c
/test-decomposing-form.c
/test-decomposition.c
/test-nfc.c
/test-nfd.c
/test-nfkc.c
/test-nfkd.c
/test-u16-nfc.c
/test-u16-nfd.c
/test-u16-nfkc.c
/test-u16-nfkd.c
/test-u16-normcmp.c
/test-u16-normcmp.h
/test-u16-normcoll.c
/test-u32-nfc-big.c
/test-u32-nfc-big.sh
/test-u32-nfc.c
/test-u32-nfd-big.c
/test-u32-nfd-big.sh
/test-u32-nfd.c
/test-u32-nfkc-big.c
/test-u32-nfkc-big.sh
/test-u32-nfkc.c
/test-u32-nfkd-big.c
/test-u32-nfkd-big.sh
/test-u32-nfkd.c
/test-u32-normalize-big.c
/test-u32-normalize-big.h
/test-u32-normcmp.c
/test-u32-normcmp.h
/test-u32-normcoll.c
/test-u8-nfc.c
/test-u8-nfd.c
/test-u8-nfkc.c
/test-u8-nfkd.c
/test-u8-normcmp.c
/test-u8-normcmp.h
/test-u8-normcoll.c
/test-uninorm-filter-nfc.c

