/test-casecmp.h
/test-is-cased.h
/test-is-casefolded.h
/test-is-lowercase.h
/test-is-titlecase.h
/test-is-uppercase.h
/test-locale-language.c
/test-locale-language.sh
/test-mapping-part1.h
/test-mapping-part2.h
/test-u16-casecmp.c
/test-u16-casecoll.c
/test-u16-casefold.c
/test-u16-is-cased.c
/test-u16-is-casefolded.c
/test-u16-is-lowercase.c
/test-u16-is-titlecase.c
/test-u16-is-uppercase.c
/test-u16-tolower.c
/test-u16-totitle.c
/test-u16-toupper.c
/test-u32-casecmp.c
/test-u32-casecoll.c
/test-u32-casefold.c
/test-u32-is-cased.c
/test-u32-is-casefolded.c
/test-u32-is-lowercase.c
/test-u32-is-titlecase.c
/test-u32-is-uppercase.c
/test-u32-tolower.c
/test-u32-totitle.c
/test-u32-toupper.c
/test-u8-casecmp.c
/test-u8-casecoll.c
/test-u8-casefold.c
/test-u8-is-cased.c
/test-u8-is-casefolded.c
/test-u8-is-lowercase.c
/test-u8-is-titlecase.c
/test-u8-is-uppercase.c
/test-u8-tolower.c
/test-u8-totitle.c
/test-u8-toupper.c
/test-uc_tolower.c
/test-uc_totitle.c
/test-uc_toupper.c
/test-ulc-casecmp.c
/test-ulc-casecmp1.sh
/test-ulc-casecmp2.sh
/test-ulc-casecoll.c
/test-ulc-casecoll1.sh
/test-ulc-casecoll2.sh
